body {
    background-color: rgb(0, 0, 0);
}

.body {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    width: 56.25em;
    min-height: 31.25em;
    background-color: #dddddd;
}

.background {
    display: flex;
    gap: 0.1em;
    height: 20em;
    justify-content: space-around;
    background-color: rgb(105, 195, 247);
}

.score {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #ffffff;
}

.game-over {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(0deg, #d2cd2d 40%, #b30000ff 48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: none;
    animation: fadeinout 1.5s infinite ease-in-out;
}

.houses {
    height: 5em;
    width: 8em;
    position: relative;
    bottom: 0.5em;
}

.x {
    bottom: 0;
}

.y {
    bottom: -5.5em;
}

.z {
    bottom: 1.4em;
}

.man {
    position: absolute;
    bottom: 0.525em;
    width: 7em;
    height: 4em;
}

.obstacles {
    position: absolute;
    bottom: 0.525em;
    background-color: #383838;
    border-top: 4px solid #000000;
    width: 2em;
    height: 3em;
    left: 68em;
}

.sun {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #ffed8a;
    position: relative;
    top: 5em;
    left: 50em;
}

#instruction {
    text-align: center;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    bottom: 10em;
    animation: fadeinout 1.5s infinite ease-in-out;
}

#right-wheel, #left-wheel {
    transform-origin: center;
    transform-box: fill-box;
}

.wheel-animation {
    animation: wheels 0.3s infinite linear;
}

.animate-man {
    transition: animation 500ms;
    animation: manUp 400ms infinite ;
}

#sand {
    background-color: #b85900;
    display: flex;
    width: 56.25em;
    bottom: 0;
    position: absolute;
    height: 0.525em;
}

.particles {
    position: relative;
}

#mobile {
    display: none;
}

#pc {
    display: block;
}

.mobile-message {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

@keyframes block-animation {
    from{ left: 68em }
    to { left: 16.3em }
}

@keyframes wheels {
    from { transform: rotateZ(0deg);}
    to { transform: rotateZ(360deg);}
}

@keyframes manUp {
    0% { bottom: 5em }
    30% { bottom: 7em }
    70% { bottom: 5em }
    1000% { bottom: 0em }
}

@keyframes fadeinout {
    0% { opacity:  1;}
    100% { opacity:  0;}
}